<!DOCTYPE html>
<html>
    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta lang="ru">
        <link rel="stylesheet" href="starbucks.css">
        <title>Starbucks Coffee Company</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <header>
        <img class="logo" src="starbucks.png">
        <nav>
            <a href="#">MENU</a>
            <a href="#">REWARDS</a>
            <a href="#">GIFT CARDS</a>
        </nav>
        <div>
            <a href="#">Find a store</a>
            <button class="signin">Sign In</button>
            <button class="joinnow">Join now</button>
        </div>
    </header>
    <body>
        <div>
            <div>
                <div>
                    <h1>Your first taste of Rewards is free</h1>
                    <h4>Unlock Rewards with your first order. Enjoy a free handcrafted drink when you make a qualifying purchase during your first week as a Starbucks® Rewards member.*</h4>
                    <button class="bodydutton">Join now</button>
                </div>
                <img class="fpic" src="spic.png">
            </div>
            <div>
                <img class="fpic" src="tpic.png">
                <div>
                    <h1>Our smoothest, brightest coffee yet</h1>
                    <h4>Discover the people and places behind the new Starbucks® Sunsera Blend™ as it makes its way from farm to cup.</h4>
                    <button class="bodydutton">See the journey</button>
                </div>
            </div>
        
        </div>
    </body>

</html>